{% for vl in vlans.vlan %}
vlan {{ vl.number }}
  name {{ vl.name }}
interface vlan {{ vl.number }}
  ip address {{ vl.svi }}
no shut
exit
{% endfor %}

{% for intf in vlans.interfaces %}
{% if intf.mode == "access"%}
interface {{ intf.interface }}
  switchport mode access
  switchport access vlan {{ intf.vlan }}
{% else %}
interface {{ intf.interface }}
  switchport mode trunk
exit
exit
copy run start
{% endif %}
{% endfor %}